{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}
<h1>Добро пожаловать на CatDjango!</h1>

<h5>Мы рады приветствовать вас на нашем сайте, посвященном удивительным и грациозным созданиям — котам. Здесь вы найдете множество интересной информации о разных породах котов, их характере и уходе за ними.</h5>

<h4>Наши разделы:</h4>

<p>- **Породы котов**: Узнайте о различных породах, их особенностях и истории.</p>
<p>- **Уход за котами**: Полезные советы и рекомендации по уходу за вашим питомцем.</p>
<p>- **Галерея**: Просмотрите фотографии самых милых и забавных котиков.</p>
<p>- **Истории наших пользователей**: Делитесь своими историями и читайте рассказы других владельцев котов.
</p>
<h4>Почему мы любим котов?</h4>

<p>Коты — это не просто домашние животные. Они становятся настоящими членами семьи, принося радость и уют в дом. Их независимый характер и грациозные движения покоряют сердца миллионов людей по всему миру.</p>
<h4>Присоединяйтесь к нашему сообществу</h4>

<h6>Зарегистрируйтесь на нашем сайте и получите доступ к эксклюзивным материалам, обсуждениям и мероприятиям. Мы также приглашаем вас подписаться на нашу рассылку, чтобы всегда быть в курсе новостей и обновлений.</h6>
{% endblock %}